
.container{
    margin: 0 auto;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 800px;
    width: 700px;
    background-color: white;
    
}
h1{
    text-align: center;
}
.row1{
    background-color: aqua;
    width: 700px;
    height: 230px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}
.row2{
    background-color: blue;
    width: 700px;
    height: 230px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}
.row3{
    background-color: aquamarine;
    width: 700px;
    height: 230px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}
.image{
    align-self: center;
    margin: 10px;
}
.link{
    margin: 10px;
    text-align: center;
}